body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-card {
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s ease-in-out;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid #00aaff;
    transition: transform 0.3s;
}

.avatar img:hover {
    transform: scale(1.1);
}

.nickname {
    font-size: 36px;
    margin: 20px 0;
}

.bio {
    font-size: 18px;
    margin-bottom: 20px;
    color: #aaa;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-link {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s, transform 0.3s;
}

.social-link.github:hover {
    color: #4078c0;
    transform: scale(1.2);
}

.social-link.telegram:hover {
    color: #0088cc;
    transform: scale(1.2);
}

.social-link.discord:hover {
    color: #7289da;
    transform: scale(1.2);
}

.social-link.steam:hover {
    color: #00adee;
    transform: scale(1.2);
}

.discord-server-link {
    margin-top: 20px;
    text-align: center;
}

.discord-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #7289da;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.discord-button:hover {
    background-color: #5a6ebc;
    transform: scale(1.05);
}

.server-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s;
}

.discord-button:hover .server-avatar {
    transform: scale(1.1);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
